{{!--
*   ENABLE this section if you want to use Utterances Comments
*   Change Config Settings to your own repo!
*   

<div class="post-comments">
    <h2 class="title">Comments</h2>
    <div class="comments-inner">
        <script src="https://utteranc.es/client.js"
            repo="jgeisslinger/coding-observer"
            issue-term="title"
            label="💬 Blog Comment"
            theme="boxy-light"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>

--}}



<div class="post-comments">
    <h2 class="title">Comments</h2>
    <div class="comments-inner">
        
        <div id="cusdis_thread"
            data-host="https://mct-comment.vercel.app"
            data-app-id="1510d665-6e01-4cc8-942e-7eede6999652"
            data-page-id="{{id}}"
            data-page-url="{{url}}"
            data-page-title="{{title}}"
            data-theme="auto"
        ></div>
        <script async defer src="https://mct-comment.vercel.app/js/cusdis.es.js"></script>
    </div>
</div>
