<!-- Import script from Utterances page and feed parameter from config.toml-->
<div class="post-comments">
    <h2 class="title">Comments</h2>
    <div class="comments-inner">
        <script src="https://utteranc.es/client.js"
            repo="jgeisslinger/coding-observer"
            issue-term="title"
            label="💬 Blog Comment"
            theme="boxy-light"
            crossorigin="anonymous"
            async>
        </script>
    </div>
</div>