{{!--
*   ENABLE this section if you want to use Comments
*   Change Config Settings to your own repo!
*   You need also to enable comment section in the post.hbs
*   
--}}

<div class="card">
    <h2 class="card-title p-3">Comments</h2>
    <div class="card-body p-3">
        

        {{!--   

        <!--UTTERANCES
        Change: repo, issue-term and label to your own
        -->
        <script src="https://utteranc.es/client.js"
            repo="jgeisslinger/coding-observer"
            issue-term="title"
            label="💬 Blog Comment"
            theme="boxy-light"
            crossorigin="anonymous"
            async>
        </script>
        
        
        <!--Cusdis
        Change: data-host and bottom script to your own URL
        -->
        <div id="cusdis_thread"
            data-host="https://mct-comment.vercel.app"
            data-app-id="1510d665-6e01-4cc8-942e-7eede6999652"
            data-page-id="{{id}}"
            data-page-url="{{url}}"
            data-page-title="{{title}}"
            data-theme="auto"
        ></div>
        <script async defer src="https://mct-comment.vercel.app/js/cusdis.es.js"></script>
    
        Disable until here if you dont want to use cudis  --}}
    
    
    </div>
</div>
