<div class="card mt-3">
    <div class="card-body p-3">
        <h3>Like this post?</h3>
        <p>Hit the subscribe button below and join this blog for free. I will inform you about new issues.</p></div>
</div>