<div class="post-meta">
    <i class="post-date"><time datetime="{{ time .Date }}" itemprop="datePublished">{{date published_at timeago="true"}}</time></i>
    <i class="post-readingtime">| {{reading_time}} </i>
</div>


