<div class="main-menu">
                            <nav>                  
                                <ul class="menu-list">
                                    {{#foreach navigation}}
                                    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                                     {{/foreach}}
                                </ul>
                            </nav>
</div>