<div class="card mt-2">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 text-break underline"><h3 class="card-title">{{title}}</h3> </div>
                </div>
                <div class="row mb-2">
                        {{> "meta"}}
                </div>
                <div class="card-body justify resizable">
                       {{excerpt characters="200"}}
                </div>
                <div class="row">
                    <div class="col-auto bold post-link"><a class="card-link" href="{{url}}">Read here</a></div>
                </div> 
            </div>
</div>