<!doctype html>
<html lang="{{@site.lang}}">

<head>
     {{> "head"}}
</head>

<body class="home line-numbers" data-theme="light">

    <div id="main-content" data-barba="wrapper"> 

        {{> "header"}}
        {{{body}}}
    </div>

    {{> "footer"}}
    {{!-- Dynamic footer content from code injection etc before scripts to use injected code--}}
    {{ghost_foot}}

    <!-- JavaScript -->
    {{> "scripts"}}
    
</body>
</html>