{{!< default}}

<div class="col-lg-9 col-lg-offset-3">

            <div class="grid">
            {{!-- Iterate through each posts --}}
            <div class="grid-sizer"></div>
            {{#foreach posts}}
                {{!-- Get post card partial --}}
                {{> post-card}}

            {{/foreach}}
            </div>

            {{pagination}}
        
</div>
</div>
</div>
