{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<!--
*   MARIE Ghost Theme
*-->

<div class="col-md-9 col-md-offset-3">

        
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": "true" }'>
            {{!-- Iterate through each posts --}}
            <div class="grid-sizer"></div>
            {{#foreach posts}}
                {{!-- Get post card partial --}}
                {{> post-card}}

            {{/foreach}}
            </div>

            {{pagination}}
        
            {{>projects}}
</div>
</div>
</div>
