{{!< default}}
{{#post}}

<div class="col-md-9 col-md-offset-3 side-collapse-container" data-barba="container">
    <div class="tiles">

        <article class="post" itemtype="http://schema.org/BlogPosting">
            
            <div class="post-header">
                
                <div class="post-title"><h1>{{title}}</h1></div>
                            
            </div>
            
            <div class="post-meta">
                <i class="fas fa-terminal"></i>
            </div>

            <div class="post-content">
                
                {{#if feature_image}}
                <div class="post-image-container">
                    <figure>
                        <img class="post-image" src="{{img_url feature_image}}" alt="{{title}}" />
                    </figure>
                </div>
                {{/if}}
                
                <!-- Main Post Content -->
                <div class="post-content resizable justify">
                    <p>
                        {{content}} 
                    </p>
         
                </div>
                <!-- Main Page Content End -->   
            </div>

        </article>
        <!-- End Single Page-->

    </div>
</div>
<!-- Container End -->
</div>
</div>
</div>
<!-- End Wrapper Site -->
{{/post}}