{{!< default}}
{{#post}}

{{!-- Bootstrap responsive Container --}}
<div class="col-md-9 col-md-offset-3 side-collapse-container">

        <article class="post" itemtype="http://schema.org/BlogPosting">
            
            {{!--  Post Title --}}
            <div class="card mb-2">           
                <div class="card-title p-3"><h1>{{title}}</h1></div>                       
            </div>
        

            {{!-- Main Post Content --}}
            <div class="card">
                {{!-- Post Image --}}
                {{#if feature_image}}
                <div class="card-img">
                    <figure>
                        <img class="post-image" src="{{img_url feature_image}}" alt="{{title}}" />
                    </figure>
                </div>
                {{/if}}
                
                {{!-- Main Post Content --}}
                <div class="card-body post-content resizable justify articleBody">
                    <p>{{content}}</p>
                </div>


            </div>

        </article>
        <!-- End Single Post-->


</div>
<!-- Container End -->
</div>
</div>
</div>
<!-- End Wrapper Site -->
{{/post}}