/*OLD STYLES FOR DEVELOPMENT ONLY



 .post {
    margin-bottom: 40px;
    border: 0px solid #e2e2e2;
  }
  .post:last-child {
    margin-bottom: 0;
  }
  .post .post-content {
    background-color: var(--color-secondary);
    padding: 20px 30px 20px;
  }


  .post-readmore {
    background-color: var(--color-secondary);
    margin-top: 7px;
    padding: 5px 25px 5px;
    color: var(--color-font);
    font-size: 0.9rem;
  }

   .post-excerpt {
    padding: 10px 25px 10px;
    background-color: var(--color-secondary);
    border: 1px solid $grey-2;
    min-height: 90px;
  }
     
  
.post-content p:last-child {
    margin-bottom: 0;
  }
  .post-content ul,
  .post-content ol {
    font-size: 13px;
    font-style: normal;
    padding-left: 20px;
  }
  .post-content ul li,
  .post-content ol li {
    margin-bottom: 5px;
  }
  .post-content ul > li:last-child,
  .post-content ol > li:last-child {
    margin-bottom: 0;
  }
  .post-footer {
    margin-top: 30px;
  }
  
  
  .post-category strong {
    margin-right: 5px;
  }
  .post-category a {
    color: $color-highlight;
  }
  .post-category a:after {
    content: ',';
    margin-right: 5px;
  }
  .post-category a:last-child:after {
    content: normal;
  }
  
  
  .post-tags a {
    opacity: 1;
    display: inline-block;
    color: $color-highlight;
  }
  .post-tags a:before {
    margin-left: 5px;
    content: '#';
  }
  .post-tags a:first-child:before {
    margin-left: 0;
  }
  .post-tags a:hover {
    opacity: 0.8;
  }
  
  .post-share {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .post-share a {
    color: #color-highlight;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  
  .post-comments {
    margin-top: 30px;
    background-color: var(--color-secondary);
    padding: 30px 30px 10px;
    
  }
  
  .post-files {
    background-color: #C7C7C7;
    color:#000;
    margin-top: 20px;
    padding: 10px;
    min-height:50px;
  }
  
  .post-files h2{padding-bottom: 15px;}
  
  .post-files a{
    color:#000;
  }
  
  .post-files ul{
    list-style: outside none none;
  }







*/