/* ==================== POST STYLES  ==================== */

.card {
  background: var(--color-card);
}

//Not used now 
.post-header-icon{
    font-size: $font-size-5;
    padding-right: 10px;
    border: 1px solid #000;
} 

.post-header-icon i{
    vertical-align: bottom;

}

.post-meta a:after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
}

.post-meta a:last-child:after {
    content: normal;
}
  

.post-link a:after{
  font-family: $font-fontawesome-solid;
  content:"  \f35d";
  font-size: 0.8rem;
}

 
  .grid-sizer{ 
    width: 70%;
  }
  
  .grid-item { 
    width: 100%;
    margin-bottom: 20px;
    margin-right:5%;
  }
  
  .article-image-box {
    width: 100%;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .article-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }


 /****** Post ICONS ******/


 .fa-js{ color:#FFD43B !important; }
 .fa-sass{ color:#CF649A !important; }
 .fa-html5{ color:#DD4B25 !important; }
 .fa-node-js{ color:#6CA25D !important; }
 .fa-python{ color:#3C7EA1 !important; }
 .fa-terminal{ color:#000 !important; }
 .fa-php{ color:#5D7CB2 !important; }
 .fa-microsoft{ color:#F25022 !important; }
 .fa-glasses{ color:#000 !important; }
 .fa-network-wired{ color:#000 !important; }
 .fa-ubuntu{ color:#F76009 !important; }
 .fa-apple{ color:#000 !important; }
 .fa-drafting-compass{ color:#00D8F9 !important; }




  
  /****** Single Page ******/
  
  /** TOC Styling **/
  .post-toc {
    margin-top:20px;
    margin-left: 25px;
    //margin-right: 25px;
    //border-bottom: 1px dotted #000;
    padding-top:10px;
  }
  
  .post-toc a{
    font-size: 1rem;
    font-style: normal;
  }
  
  .post-toc a:hover {
    color: var(--color-ahover);
  }
  
  .post-toc ul{
    list-style: outside none none;
  }

  .post-toc-header{
    color: var(--color-primary);
    text-align: right;
    text-decoration: underline;
    font-size: $font-size-3;
    padding-bottom: 10px;
  }

  .post-image{
    margin: 0 !important;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
  
  .post-image-container{
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  @media screen and (max-width: 991px) {

    .post-toc {
      color: $white;    
      text-align: left;
    }

    .post-toc a:hover {
      color: $white;
    }

    .post-toc-header{
      color: var(--color-primary);
      text-align: center;
    }

  } 