
p {
  padding-bottom: 20px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

iframe {
  border: 0;
  max-width: 100%;
}

a {
  color: var(--color-link);
  text-decoration: none;
}



/*============================== INDEX STYLES ======================================== */
body {
  margin: 0;
  padding: 50px 0 0;
  background: var(--color-bg);
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
}

.header {
  width: 220px;
  bottom: 0;
  top: 0;
  text-align: right;
  z-index: 9;
}

.header-text {
  margin-bottom: 50px;
}

.header-text blockquote {
  font-size: 16px;
  padding-left: 50px;
}

.header-text blockquote:before {
  font-size: 30px;
}


//PAGINATION

.pagination-wrap {
  border-top:1px solid #e2e2e2;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: $font-standard;
}
.pagination-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagination-wrap ul span {
  display: block;
}
.pagination-wrap ul li {
  display: inline-block;
  overflow: hidden;
  font-size: 1.1  rem;
  padding-left: 5px;
  padding-right: 5px;
}
.pagination-wrap ul li .current {
  color: var(--color-link);
}


.footer-inner{
  margin-top:20px;
  margin-bottom: 30px;  
  text-align: center;
}


.is-active-link::before {
  background-color: var(--color-link);
}


/* ==================== MEDIA STYLES  ==================== */

@media screen and (max-width: 991px) {

  .logo-mobile
  {
    display:none;
  }

  .description-screen {
    display: none;

  }

  .mobile {
    display: block;

  }

  .header,
  .menu-left .header {
    left: 0;
    position: fixed;
    padding-top:40px;
    width: 250px;
    z-index: 9999;
    background-color: #fff;
    text-align: center;
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
  }
  .header .logo,
  .menu-left .header .logo {
    color: #ffffff;
  }
  .header.active,
  .menu-left .header.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    background-color: #000;
  }
  .main-menu,
  .menu-left .main-menu {
    max-height: 45%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .main-menu .menu-list > li > a {
    color: #F5F2F0 !important;
  }

  .main-menu a:hover,
  .menu-left .main-menu a:hover {
    color: #ffffff !important;
  }
  .main-menu .active a,
  .menu-left .main-menu .active a {
    color: #ffffff;
  }
   
  .socials a {
    margin-right: 10px;
  
  }
  .socials a {
    color: #ffffff !important;
  }

  .fontcontroller a {
    color: #ffffff !important;
  }

  .hide-menu.active {
    visibility: visible;
    opacity: 1;
  }

  .grid-sizer{ 
    width: 30%;
  }

  .grid-item { 
    width: 100%;
    margin-bottom: 20px;
  }

}
@media screen and (max-width: 768px) {
  body {
    padding-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .post .post-content {
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
   
  .mobile {
    margin-bottom: 50px;
  }
  .mobile .logo {
    font-size: 30px;
    padding-left: 20px;
  }
  .navigation-wrap {
    margin-top: 30px;
  }
}

